@mixin word-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}
.word-break {
	@include word-break;
}

@mixin no-select {
	pointer-events: none;
	user-select: none;
}
.no-select {
	@include no-select;
}
