///////////////////////////////////////
// Misc fixes to the worlds page css //
///////////////////////////////////////
.world {
	width: auto !important;
	height: auto !important;
	background: $secondary !important; // wtf is wrong with the web devs at vrchat?
	flex: 1;
	display: flex;
	flex-direction: column;

	// Use the link to push all other elements down
	a {
		flex: 1;
	}

	h3 {
		@include word-break;
	}

	p {
		margin-bottom: 0;
	}

	// Auto set image sizes so they look better while loading
	img {
		min-height: 150px;
		object-fit: contain;
	}
}

.users,
.worlds {
	.row {
		// Fixes horizontal scrollbar on worlds page
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.bg-primary .row .col-lg-8>div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

///////////////////////////////
// Custom content css styles //
///////////////////////////////
.groups {
	margin: 0 $spacing;
	font-family: Arial;
}

.group {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	flex-wrap: wrap;
	background-color: $dark-bg;
	padding: $spacing;
	margin-bottom: $spacing * 2;
	justify-content: center;

	@media only screen and ( max-width: $size-md ) {
		flex-direction: column;
	}

	&__world {
		display: flex;
		flex-basis: 20%;
		flex-direction: column;
		padding-top: $spacing;
		align-items: center;
		@media only screen and ( max-width: $size-md ) {
			flex-basis: auto;
		}

		&__img {
			width: 20rem;
			max-width: 100%;
			height: auto !important;
		}

		&__data {
			width: 100%;
			max-width: 20rem;
			border-collapse: collapse;
			margin-top: $spacing / 2;

			td {
				padding: ( $spacing / 4 ) 0;
				text-align: left;
				text-transform: capitalize;

				&:last-child {
					text-align: right;
				}
			}

			@media only screen and ( max-width: $size-sm ) {
				td {
					display: block;

					&:last-child {
						text-align: left;
						padding-bottom: $spacing;
					}
				}
			}
		}

		.usercont {
			position: relative;
			padding: 0;

			&__link {
				color: inherit;
				display: inline-block;
				margin: 0;
				border-bottom: .1rem dotted white;
				cursor: pointer;
				text-transform: none;
				@include word-break;

				&:hover {
					text-decoration: none;
					border-bottom-style: solid;

					& + .usercont__avatar {
						display: block;
					}
				}
			}

			&__avatar {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: 20rem;
				padding-top: $spacing / 2;
				height: auto;
				z-index: 10;
			}
		}
	}

	&__users {
		display: flex;
		flex: 1;
		flex-direction: column;

		&-friends,
		&-other {
			display: flex;
			flex-wrap: wrap;
		}

		&-other {
			opacity: .2;
		}
	}
}

.usercont {
	padding: $spacing;

	&__link {
		// Override default link styles
		color: white;
		transition: none;
		margin-bottom: $spacing / 2;
		display: inline-block;
		&:hover {
			text-decoration: none;
			border-bottom: .0625rem solid white;
			color: white;
		}

		@include word-break;
	}

	&__avatar {
		position: relative;

		&__img {
			width: 20rem;
			max-width: 100%;
			height: auto !important;

			&__private {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: .7;

				// There is no need to be able to select the overlay
				@include no-select;
			}
		}
	}
}
