.user,
.world {
	width: auto !important;
	height: auto !important;
	background: $secondary !important; // wtf is wrong with the web devs at vrchat?
	flex: 1;

	h3 {
		word-break: break-word;
	}

	p {
		margin-bottom: 0;
	}
}

.users,
.worlds {
	.row {
		// Fixes horizontal scrollbar on worlds page
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.bg-primary .row .col-lg-8>div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
